img{
    width: 70px;
    height: 70px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Berkshire Swash', cursive;
    align-items: center;
    justify-content: center;
}

#clear{
    border-radius: 25%;
    width: 100px;
    height: 50px;
}